.navbar {
    background-color: rgb(83, 84, 85);
    height: 35px;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  .navbar li {
    margin: 0 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
  }

