.contenedorProducto{
    border: solid 3px black;
    max-width: 300px;
    height:auto;
    padding: 25px;
    display: inline-block;
    
}
.agregarCarrito{
    color: #224d26;
    height: 35px;
    width: 300px;
    padding: 10px;
}

